.background {
-fx-background-color: rgba(148, 182, 222, 0.67);
}

.hbox {
    -fx-background-color: rgba(57, 75, 107, 0.8);
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: midnightblue;
    -fx-opacity: 0.9;
    -fx-font-weight: bold;
}


.button {
-fx-border-color: navy;
-fx-border-width: 2;
-fx-background-radius: 5;
-fx-border-radius: 5;
-fx-background-color: aliceblue;
-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
/*-fx-font-size: 12pt;*/
-fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: darkgrey;
}

.button:focused {
    -fx-border-color: brown;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.radio-button {
    -fx-font-size: 12pt;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: navy;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
}
.radio-button .dot {
    -fx-background-radius: 15px;
}